@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.section{
     padding: 4rem 0;

}

.section--dark{
    background-color: #fffdf7;
    
}

.section--light{
    background-color: #003566;
    color: white;
    border-radius: 10px;
}
.section__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.section__title{
    margin-bottom: 2rem ;
    font-size: 2rem;
    text-align: center;
    color: #FFC300;
    font-family: "Montserrat", sans-serif;
}
.section__content{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.section__image{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
}
.section__text{
    flex: 1;
    font-size: 1.1rem;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
/*  */
.card{
    border: 1px solid #edd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fffdf7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Esto es importante para que las cards puedan estirarse igual */
}

.card:hover{
    transform: translateY(-5px);
    /* modificar un poco para descpues */
    box-shadow: 0 5px 15px rgba(255, 214, 0, 0.879);
}
.card__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
/*  */
.card__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Muy importante para que el contenido ocupe espacio */
    padding: 1.5rem;
}
.card__title{
    margin: 1rem 0;
    /* revisar color */
    color: #000814;
    font-family: "Montserrat", sans-serif;
}
.card__description{
    margin: 0 0 1rem;
    color: #000814;
}
.card__link{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #FFD60A;
    color: #001D3D;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: auto;
    align-self: flex-start;
}
.card__link:hover{
    background-color: #001D3D;
    color: #fffdf7;
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
.skill{
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.skill__title{
    margin: 0 0 1rem;
    font-size: 1.3rem;
    color: #001D3D;
}
.skill__items{
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill__item{
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    color: #000814;
}
.skill__item:last-child{
    border-bottom: none;
}

